name: Deploy DACPAC

on:
  pull_request:
    types: [opened]
    branches:
      - Feature
      - Development
      - TEST
      - main
    # paths:
    #   - 'DatabaseProjectdatabasesqlserver/**'

permissions:
  id-token: write
  contents: read
jobs:
  deploy_dacpac_test:
    if: github.event.pull_request.base.ref == 'TEST' 
    # && github.event.pull_request.merged == true
    environment: Test
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build DACPAC
        run: dotnet build DatabaseProjectdatabasesqlserver/DatabaseProjectdatabasesqlserver.sqlproj --framework net40

      - name: Upload DACPAC Artifact
        uses: actions/upload-artifact@v2
        with:
          name: dacpac
          path: DatabaseProjectdatabasesqlserver/bin/Debug/DatabaseProjectdatabasesqlserver.dacpac

      - name: Azure Login
        run: az login --use-device-code
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy DACPAC to Azure 
        uses: Azure/sql-action@v2
        with:
          connection-string: ${{ secrets.AZURE_SQL_CONNECTION_STRING }}
          path: DatabaseProjectdatabasesqlserver/bin/Debug/DatabaseProjectdatabasesqlserver.dacpac
          action: publish

      - name: Run Post-Deployment Scripts
        uses: azure/sql-action@v2.2
        with:        
          connection-string: ${{ secrets.AZURE_SQL_CONNECTION_STRING }}
          path: DatabaseProjectdatabasesqlserver/Script.PostDeployment1.sql       

  deploy_dacpac_prod:
    if: >
      github.event.pull_request.base.ref == 'main' &&
      github.event.pull_request.merged == true
    environment: Test
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build DACPAC
        run: dotnet build DatabaseProjectdatabasesqlserver/DatabaseProjectdatabasesqlserver.sqlproj --framework net40

      - name: Upload DACPAC Artifact
        uses: actions/upload-artifact@v2
        with:
          name: dacpac
          path: DatabaseProjectdatabasesqlserver/bin/Debug/DatabaseProjectdatabasesqlserver.dacpac

      - name: Azure Login
        run: az login --use-device-code
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy DACPAC to Azure 
        uses: Azure/sql-action@v2
        with:
          connection-string: ${{ secrets.AZURE_SQL_CONNECTION_STRING }}
          path: DatabaseProjectdatabasesqlserver/bin/Debug/DatabaseProjectdatabasesqlserver.dacpac
          action: publish

      - name: Run Post-Deployment Scripts 
        uses: azure/sql-action@v2.2
        with:        
          connection-string: ${{ secrets.AZURE_SQL_CONNECTION_STRING }}
          path: DatabaseProjectdatabasesqlserver/Script.PostDeployment1.sql   
